:root {    
    --font-14px: 0.875rem;
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-20px: 1.25rem;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: var(--font-20px);
    letter-spacing: 0.1ch;
}